.carouselHeading {
  font-size: 4em;
  font-weight: 700;
}
.carouselText {
  font-size: 2em;
}
.carouselButton {
  background-image: linear-gradient(rgb(0, 140, 255), rgb(63, 30, 207));
  color: white;
  border: 0;
}
